# === General ===
'''
DOMAIN_NAME=
DJANGO_ENV=

# === Django ===

# Generate yours with:
# python3 -c 'from django.utils.crypto import get_random_string; print(get_random_string(50))'
DJANGO_SECRET_KEY=


# === Database ===

# These variables are special, since they are consumed
# by both django and postgres docker image.
# Cannot be renamed if you use postgres in docker.
# See: https://hub.docker.com/_/postgres

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Used only by django:
DJANGO_DATABASE_HOST=localhost
DJANGO_DATABASE_PORT=5432

# === Caddy ===

# We use this email to support HTTPS, certificate will be issued on this owner:
# See: https://caddyserver.com/docs/caddyfile/directives/tls
#TLS_EMAIL=
'''